:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0 2.5rem;
  display: flex;
  place-items: center;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  color: green;
  margin: 8px 0;
}

li {
  list-style: none;
  font-size: 16px;
}

button {
}

.person-added-toast {
  color: green;
  background: lightgreen;
  font-size: 20px;
  border: 2px solid green;
  padding: 8px;
  margin-bottom: 24px;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.form-button {
  width: 100%;
  margin: 16px 0;
  padding: 4px 0;
  cursor: pointer;
}

.person {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  padding: 8px 0;
}

.delete-button {
  width: 96px;
  cursor: pointer;
}
