* {
  box-sizing: border-box;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 1rem 0;
  text-align: left;

  & td {
    border: 1px solid grey;
    padding: 4px;
    width: 50%;
  }

  & tr:nth-child(even) {
    background-color: lightgray;
  }

  & #text-clip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
  }
}
